/* custom font aanpassen */
@font-face 
{
    font-family: custom;
    src: url(../fonts/Saira-VariableFont_wdth\,wght.ttf);
}

/* padding en margin op 0px zetten */
body, ul, li
{
    padding: 0px;
    margin: 0px;
}

/* body, h1, en p elementen stylen */
body
{
    font-family: custom;
    background-color: black;
    text-align: center;
}

h1
{
    font-weight: 300;
    color: white;
}

p
{
    color: white;
}

iframe
{
    border-radius: 8px;
    border-color: rgb(115, 23, 23);
    border-width: 3px;
    border: solid;
    width: 600px;
    height: 450px;
}


/* fotos stylen */
img
{
    width: 300px;
    border: solid;
    border-radius: 8px;
    border-color: rgb(115, 23, 23);
    border-width: 3px;
}

/* section en article stylen */
section
{
    margin: 0 100px;
    gap: 0 50px;
    display: flex;
    color: white;
}

article
{
    margin-bottom: 50px;
    padding: 0 300px 0 300px;
    text-align: center;
}